.button{
	border:rgba(255,255,255,0.9) 2px solid;
	color:rgba(255,255,255,0.9);
	text-decoration: none;
	padding:0.75rem 1.2rem ;
	display: inline-block;
	border-radius:3px;
	transition:all 0.3s ease-out;
	border-radius: 30px;
	cursor:pointer;

	&__large{
		font-size:0.8rem;
		font-weight:300;
		padding:0.6rem 1.2rem ;

		@mixin mobile{
			font-size:0.8rem;
			font-weight:300;
			padding:0.75rem 1.6rem ;
			text-transform: uppercase;
		}
	}

	&:hover{
		background-color:#fff;
		color:#3d3d3d;
		text-decoration: none;

	}

	&__coloured{
		color:#3d3d3d;
		border:#3d3d3d 2px solid;
		width:200px;
		
		&:hover{
			background-color:#3d3d3d;
			color:#fff;
			text-decoration: none;
		}
	}

	&__hero{
		margin-top: 4.8rem;
	}
}






