.button{
	border:#fff 2px solid;
	color:#fff;
	text-decoration: none;
	padding:0.75rem 1.2rem ;
	display: inline-block;
	border-radius:3px;
	transition:all 0.3s ease-out;
	border-radius: 30px;
	cursor:pointer;

	&__large{
		font-size:0.8rem;
		font-weight:300;
		padding:0.6rem 1.2rem ;

		@mixin mobile{
			font-size: 1.1rem;
			font-weight:300;
			padding:0.75rem 1.6rem ;
		}
	}

	&:hover{
		background-color:#fff;
		color:#3d3d3d;
		text-decoration: none;

	}

	&__coloured{
		color:#3d3d3d;
		border:#3d3d3d 2px solid;
		
		&:hover{
			background-color:#3d3d3d;
			color:#fff;
			text-decoration: none;
		}
	}
}






