.about-text{
	font-size: 1.2rem;
}
.generic-content-container{
	p{
		line-height: 1.85;
		font-size:1rem;
		font-weight: 300;
		max-width:620px;
		margin-left: auto;
		margin-right: auto;
		color:#403D39;
	}

	
}

