.headline{
	font-weight: 300;
	font-size:2.2rem;
	text-transform: uppercase;
  color:$mainBlue;

	@mixin mobile{
		font-size:2.875rem;
	}

	&__centered{
		text-align: center;
	}

	 &--no_Tmargin {
    	margin-top: 0;
  	}

  	&__skills{
  		background-color: #f4f4f4;
  		margin:0;
      padding-top:1.8rem;
  		padding-bottom:31px;
  	}

  	&__white{
		
		color:white;
  		@mixin mobile{
  		 color:white;
  		}
  		
  	}
    &__bottomMargin{
      margin-bottom:3rem;
    }

    &__topMargin{
      margin-top:3.8rem;
    }

  	
}











