.headline{
	font-weight: 300;
	font-size:2.2rem;
	color:$mainColor;
	text-transform: uppercase;

	@mixin mobile{
		font-size:2.875rem;
	}

	&__centered{
		text-align: center;
	}

	 &--no_Tmargin {
    	margin-top: 0;
  	}

  	&__skills{
  		background-color: #f4f4f4;
  		margin:0;
  		padding-bottom: 1.8rem;
  	}

  	&__white{
		
		color:white;
  		@mixin mobile{
  		 color:white;
  		}
  		
  	}
    &__bottomMargin{
      margin-bottom:5rem;
    }

  	
}