.headline{
	font-weight: 300;
	font-size:2.5rem;
	color:$mainColor;
	text-transform: uppercase;

	@mixin mobile{
		font-size:2.875rem;
	}

	&__centered{
		text-align: center;
	}

	 &--no_Tmargin {
    	margin-top: 0;
  	}

  	&__white{

  		@mixin mobile{
  		 color:white;
  		}
  		
  	}

  	
}