.large-hero{
	position: relative;
	background:url('../../assets/images/header-1290w.jpg') center center no-repeat;
	@mixin tablet{
		background:url('../../assets/images/header-1920w.jpg') center center no-repeat;
	}

	height:85vh;
	&__bgColor{
		height:100%;
		width:100%;
		background-color: rgba(0,0,0,0.7);
	}

	&__textContent{
		position: absolute;
		color:#fff;
		top:50%;
		transform: translateY(-50%);
		left:0;
		width:100%;
		text-align:center;
		/*font-family: 'Droid Serif', serif;
		font-weight: 400;*/
	}

	&__title{
		font-size:2.4rem;
		letter-spacing:0.4rem;
		margin:1rem;
		font-weight: 300;
		text-shadow: 2px 2px 0 rgba(0,0,0,10);

		@mixin mobile{
			font-size:5.3rem;
			margin:0.5rem;
		}

	}
	&__subtitle{
		font-size:1.1rem;
		letter-spacing:0.3rem;
		margin:0;
		margin-bottom:4.8rem;
		font-weight:100;
		text-shadow: 2px 2px 0 rgba(0,0,0,5);

		@mixin mobile{
			font-size:1.8rem;
			margin-bottom:3.8rem;
			
		}
	}
}

nav{
	position: absolute;
}