.large-hero{
	position: relative;
	height:100vh;
	background:url('../../assets/images/header-1290w.jpg') center center no-repeat;
	@mixin tablet{
		background:url('../../assets/images/header-1920w.jpg') center center no-repeat;
	}

	
	&__bgColor{
		height:100%;
		width:100%;
		background-color: rgba(0,0,0,0.7);
	}

	&__textContent{
		position: absolute;
		color:rgba(255,255,255,.9);
		top:50%;
		transform: translateY(-50%);
		left:0;
		width:100%;
		text-align:center;
		
		@mixin mobile{
			padding-top:50px;
		}
		/*font-family: 'Droid Serif', serif;
		font-weight: 400;*/
	}

	&__title{
		font-size:2.97rem;
		letter-spacing:0.4rem;
		margin:1rem;
		font-weight:400;
		text-shadow: 4px 4px 0px rgba(0,0,0,0.1);

		@mixin mobile{
			font-size:4rem;
			margin:0.5rem;
			text-transform: uppercase;
		}

	}
	&__subtitle{
		font-size:1.3rem;
		letter-spacing:0.3rem;
		margin:0;
		margin-bottom:4.8rem;
		font-weight:300;
		color:#ccc;
		text-shadow: 2px 2px 0 rgba(0,0,0,3);

		@mixin mobile{
			font-size:1.2rem;
			margin-bottom:3.8rem;
			text-transform: uppercase;
			
		}
	}

	&__mailIcon{
		display: inline-block;
		margin-right: 0.6rem;
		position: relative;
		top:0.1rem;
		right:0.1rem;
	}

}




