.modal__first,.modal__second,.modal__third,.modal__fourth,.modal__fifth,.modal__sixth{
	position: fixed;
	z-index:5;
	background-color: rgba(255,255,255,0.98);
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: 0;
	visibility: hidden;
	overflow-y:auto;
	transform: scale(1.2);
	transition: all 0.3s ease-out;	

	&--is-visible{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&-contentBox{
		position: absolute;
		width:100%;
		top:50%;
		transform:translateY(-49%); 

		@mixin mobile{
			padding-top:0px;
			transform:translateY(-60%);
		}
		
		&-narrow{
			max-width:170px;
			margin-left: auto;
			margin-right: auto;

			@mixin tablet{
				max-width:500px;
				padding:28px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 1.7rem;
			}
		}
	}

	&-headline{
		font-size:1.9rem;
		font-weight:400;
		text-align:center;
		text-transform: uppercase;

		i{
			margin-right: 1rem;
		}

		@mixin mobile{
			font-size:2.2rem;
			margin-bottom:4.2rem;
		}
	}


	&-text{
		line-height: 1.65;
		font-size:1rem;
		font-weight:300;
		max-width:620px;
		margin-top:0;
		margin-left: auto;
		margin-right: auto;

		@mixin tablet{
			font-size:1rem;
			line-height: 1.85;
		}
	}

	&-close{
		position: absolute;
		top:10px;
		right:20px;
		font-size:2.2rem;
		transform:scaleX(1.2);
		transform-origin: 100% 0;
		cursor: pointer;
		
		@mixin mobile{
			top:25px;
			right:45px;
		}

		&:hover{
			color:$mainOrange;
		}
	}

	&-buttons{
		background-color:$mainOrange;
	  color: #FFF;
	  border-radius:4px;
	  text-decoration: none;
	  padding: .75rem 1.2rem;
	  display: block;
	  width:160px;
	  text-align: center;
	  margin-bottom:1.2rem;

	  @mixin tablet{
	  	display: inline-block;
	  	 margin-bottom:0;
	  }
	}

}

.modal-img img{
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

/*
.modal__second{
	position: fixed;
	z-index:5;
	background-color: rgba(255,255,255,0.97);
	top:0;
	bottom:0;
	left:0;
	right:0;
	opacity: 0;
	visibility: hidden;
	overflow-y:auto;
	transform: scale(1.2);
	transition: all 0.3s ease-out;	

	&--is-visible{
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&-contentBox{
		position: absolute;
		width:100%;
		top:50%;
		transform:translateY(-49%); 

		@mixin mobile{
			padding-top:0px;
			transform:translateY(-60%);
		}
		
		&-narrow{
			max-width:170px;
			margin-left: auto;
			margin-right: auto;

			@mixin tablet{
				max-width:500px;
				padding:28px;
				margin-left: auto;
				margin-right: auto;
				margin-top: 1.7rem;
			}
		}
	}

	&-headline{
		font-size:2rem;
		font-weight:400;
		text-align: center;
		text-transform: uppercase;

		@mixin mobile{
			font-size:2.2rem;
			margin-bottom:4.2rem;
		}
	}


	&-text{
		line-height: 1.65;
		font-size:1.2rem;
		font-weight:300;
		max-width:620px;
		margin-top:0;
		margin-left: auto;
		margin-right: auto;
		@mixin tablet{
			font-size:1rem;
			line-height: 1.85;
		}
	}

	&-close{
		position: absolute;
		top:10px;
		right:20px;
		font-size:2.2rem;
		transform:scaleX(1.2);
		transform-origin: 100% 0;
		cursor: pointer;
		
		@mixin mobile{
			top:25px;
			right:45px;
		}

		&:hover{
			color:$mainOrange;
		}
	}

	&-buttons{
		background-color:$mainOrange;
	  color: #FFF;
	  border-radius:4px;
	  text-decoration: none;
	  padding: .75rem 1.2rem;
	  display: block;
	  width:160px;
	  text-align: center;
	  margin-bottom:1.2rem;

	  @mixin tablet{
	  	display: inline-block;
	  	 margin-bottom:0;
	  }
	}

}

*/