.page-section{
	padding:1.2rem 0;

	@mixin mobile{
		padding:4.5rem 0;
	}

	&__testimonials{
		background-color:#E0E6EF;
		/*@mixin mobile{
			background: url('/assets/images/testimonials-bg-3.jpg') top center no-repeat;
			background-size: cover;
		}*/
	}

	&__about{
		background-color: #FFFCF5;
	}

	&__contact{
		height:500px;
		background: url('../../assets/images/contact.jpg') center center no-repeat;
		background-size: cover;
		background-attachment: fixed;
		color: white;
		position: relative;
		width:100%;

		@mixin tablet{
			height:380px;

			p{
				display: inline-block;
			}
		}
		
	}

	&__contactOverlay{
		height:500px;
		width: 100%;
	  	background-color: rgba(0,0,0,0.35);
	  	position: absolute;
	  	top:0px;
	  	left:0px;

	  	@mixin tablet{
			height:380px;
		}

	  	&:hover{
	  		background-color:rgba(0,0,0,0.65);
	  	}
	}

	&__noPaddingUntilMobile{
		padding-bottom:0px;

		@mixin mobile{
			padding-bottom: 4.5rem;
		}
	}

	
}


.fb-icon {
    color:#d35400;
}
.mail-icon{
	color:#27ae60;
}
.map-icon{
	color:#2980b9;
}
