.primary-nav{
	
	&__pull_right{
		

		@mixin mobile{
			float: right;
		}
	}

	ul{
		margin:0;
		padding:0;
		@mixin clearfix;
	}

	li{
		list-style: none;
		/*display: inline-block;*/
		padding:20px 0;
		text-align: left;
		margin-left: 37vw;
		@mixin mobile{
			float: left;
			display: block;
			margin-bottom:0;
			padding:0px 22px;
			background-color: transparent;
			text-align: none;
			margin-left: 0px;
		}
	}
	a{
		color:rgba(255,255,255,.8);
		text-decoration: none;
		font-weight: 400;
		font-size:1.1rem;
		transition: all 0.3s ease-out;
		text-transform: uppercase;


		@mixin mobile{
			font-size:0.8rem;
			/*color:white;*/
			
			&.is-current-link{
				color:#fabb69;
			}

			&:hover{
				color:white;
				text-decoration: underline;
			}
			
		}
	}

	&__icon{
		  display: inline-block;
		  font-size: 1.5em;
		  /*margin-right: 1.5em;
		  margin-left: -1.5em;*/
		  width: 1.1em;
		  text-align:center;
		  color: rgba(255,255,255,.6);
		  position: absolute;
		  left:24vw;
		@mixin mobile{
			display:none !important;
		}
	}

	/*&__5th-item{
		margin-left:55px;

		@mixin mobile{
			margin-left: 0;
		}
	}

	&__6th-item{
		margin-left:20px;

		@mixin mobile{
			margin-left: 0;
		}
		
	}*/


}


