.wrapper{
	
	padding-left:18px;
	padding-right:18px;
	overflow: hidden;
	max-width:1236px;
	margin-left: auto;
	margin-right: auto;

	
	&__medium{
		max-width:976px;
		
	}

	&__centered{
		text-align:center;
	}

	&__b-margin{
		margin-bottom:3.875rem;
		@mixin mobile{
		margin-bottom:1.2rem;	
		}
		
	}
}