.wrapper{
	
	padding-left:18px;
	padding-right:18px;
	overflow: hidden;
	max-width:1236px;
	margin-left: auto;
	margin-right: auto;
	

	&__noPaddingUntillMedium{
		padding-left:0px;
		padding-right:0px;

		@mixin mobile{
			padding-left:18px;
			padding-right:18px;
		}
	}
	
	&__medium{
		max-width:976px;
		
	}

	&__centered{
		text-align:center;
	}

	&__b-margin{
		margin-bottom:3.875rem;
		@mixin mobile{
		margin-bottom:1.2rem;	
		}
		
	}

	&__lessPadding{
		padding-left:0px;
		padding-right:0px;
	}

	&__height{
		height: 90vh !important;
	}
}